*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .Main{
    height: 100vh;
    width: 100vw;
  }
  .mainMain{
    background-color: rgb(247, 221, 212);
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }