.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: Black;
  background-image: url(./assests/B1.jpg);
  background-size: cover;
  background-position: center;
}

.login-auth-form-container{
    height: 55vh;
    width: 22vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.250); /* White background with reduced opacity */
    backdrop-filter: blur(3px);
}
.salutation{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
}
.salutation > em{
  font-weight: bold;
  font-size: 1.5rem;
  color: #abbff5;
}
.login-form{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.loginInput{
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.loginInput > input {
  height: 20%;
  width: 98%;
  border-radius: 20px;
  padding-left: 15px;

}
.loginInput > input::placeholder{
  font-weight: bold;
}
.loginInput > em {
  margin-left: 5px;
  font-weight: bold;
  color: #abbff5;
}
.login-form > button{
  height: 15%;
  width: 98%;
  border-radius: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: #abbff5;
  color: #202342;
}

.register-auth-form-container{
  height: 65vh;
  width: 22vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.250); /* White background with reduced opacity */
  backdrop-filter: blur(3px);
}
.register-form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.registerInput{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.registerInput > input {
  width: 95%;
  height: 20%;
  border: none;
  border-radius: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
}
.registerInput > input::placeholder{
  font-weight: bold;
}
.registerInput > em {
  font-weight: bold;
  color: #abbff5;
  margin-bottom: 10px;
}
.register-form > button{
  height: 10%;
  width: 95%;
  border-radius: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: #abbff5;
  color: #202342;
  margin-left: 6px;
  border: none;
  margin-bottom: 15px;
}
.register-auth-form-container > span,.login-auth-form-container > span {
  color: #abbff5;
}
.register-auth-form-container > span > a,.login-auth-form-container > span > a{
  text-decoration:  none;
  font-weight: bolder;
}